.nv-c-bio {
  width: 100%;
  float: left;
  padding-top: 50px;
  padding-bottom: 50px; }
  .nv-c-bioHeadshot {
    width: 200px;
    margin-bottom: 50px; }
  .nv-c-bioInfo {
    margin: 0 auto; }
    @media screen and (min-width: 950px) {
      .nv-c-bioInfo {
        max-width: 700px; } }
