/*
*************************************************

Novum
wrapper

Created by the epic Kevin Deal.
http://kevindeal.superfriend.ly/

Kevin Deal
*************************************************
*/
.nv-c-wrapper {
  background: rgba(17, 17, 17, 0.897);
  height: 60%;
  margin-left: 8px;
  margin-right: 8px;
  overflow: scroll;
  position: fixed;
  z-index: 2;
  top: 30%;
  left: 0;
  box-sizing: border-box;
  padding: 8px; }
  @media screen and (min-width: 950px) {
    .nv-c-wrapper {
      top: 32px;
      height: 90%; }
      .nv-c-wrapper .home {
        width: 10%; } }
